* {
   margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

body {
   background:linear-gradient( to right, white, #cc1dbd );
   font-family:'poppins', sans-serif;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   display: flex;
}

 .wrapper{
   background: white;
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
   width: 300px;
   text-align:center ;
   display: block;
}

.input-box{  
   background:transparent;
   padding: 8px;
   border-radius: 8px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
   width: 100%;
   display:  block;
   flex-direction: column;
   text-align: center;
   margin-bottom: 15px;
   gap: 15px;
   border: none;
   outline: none;
   border-bottom: 2px white;
}


.btn{
   width: 80%;
   padding: 10px;;
   background-color: #870ef1;
   color: white;
   border: none;
   font-style: 16px;
   cursor: pointer;
   transition: background0.3s;

}
.btn:hover{
   background: #2f0455;
}

.h1{
   margin-bottom: 20px;
   color:#870ef1 ;
   font-family: Arial, 'popping',sans-serif;
}

@media (max-width:400px) {
   .wrapper{
      width: 90%;
      padding: 30px;
   }
}

a{
   color: #870ef1;
   font-size: 12px;
   text-decoration: none;
   

}

a:hover{
   color: #2f0455;
   text-decoration: underline;
}



.register-link{
   color: gray;
   font-size: 12px;

}
.remember-forgot{
   position: relative;
   margin-bottom: 20px;
}

.forgot-password{
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(-50%);
   font-size: 0.9rem;
   text-decoration: none;
   color: #2f0455;
}




.navbar {
  display: flex;
   align-items: center;
   padding: 20px;
}

nav{
   flex: 1;
   text-align: right;
}

nav ul{
   display: inline-block;
   list-style-type: none;
}
nav ul li{
   display: inline-block;
   margin-right: 20px;
}

 a{
   text-decoration: none;
   color: #330a75;
}
p{
   color: #b11616;
}

.container{
   max-width: 1300px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;

}
.row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}

.col-2{
   flex-basis: 50%;
   min-width: 300px;
}
 .col-2 img{
   max-width: 50%;
   padding: 50px 0;
   
 }
 .col-2 h1{
   font-size: 50px;
   line-height: 60px;
   margin: 25px 0;
 }

 .button{
   display: inline-block;
   background: rgb(230, 213, 60);
   color: white;
   padding: 8px 30px;
   margin: 30px 0;
   border-radius: 30px;
   transition: 0.5s;
 }
 .button:hover{
   background: rgb(255, 255, 255);
   color: black;
 }
 .header{
   background: radial-gradient(white,rgb(220, 221, 165));
 }
 .header .row{
   margin-top: 70px;
 }
 .categories{
   margin: 70px 0;
 }
 

 .col-3{
   flex-basis: 30%;
   min-width: 250px;
   margin-bottom: 30px;
   
 }
 .col-3 img{
   width: 100%;
 }
 .small-container{
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
 }
 .col-4{
   flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
 }
 .col-4 img{
   width :100%;
 }

 